doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='AC scrum vol 2, made at SMRPO at Faculty of Computer and Information Science - (University of Ljubljana) in 2019.')
        meta(name='author', content='FRI, Jaka Kokošar, Jaka Krajnc, Janez Škrlj, Ladislav Škufca')
        //title= title
        title Ac scrum vol 2
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/styleValidator.css')
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrapValidator.min.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        // https://fontawesome.com/
        //link(rel='stylesheet', href='/stylesheets/vendor/fontawesome.css')
        link(rel='stylesheet', href='/stylesheets/vendor/jquery.dataTables.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/responsive.dataTables.min.css')

    include navigation

    block content

    script(src='/javascripts/vendor/jquery-3.3.1.min.js')
    script(src='/javascripts/vendor/bootstrap.bundle.min.js')
    script(src='/javascripts/vendor/bootstrapValidator.min.js')
    script(defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous")
    //script(src='/javascripts/vendor/fontawesome.js')
    script(src='/javascripts/vendor/jquery.dataTables.min.js')
    script(src='/javascripts/vendor/dataTables.responsive.min.js')
    script(src='/javascripts/main.js')
