nav.navbar.navbar-expand-md.navbar-light.fixed-top.border-bottom
    a.navbar-brand(href='/') AC scrum vol 2
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsDefault', aria-controls='navbarsDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarsDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item(class=(pageName === "dashboard" ? "active" : undefined))
                a.nav-link(href='/')
                    | Dashboard
            li.nav-item(class=(pageName === "projects" ? "active" : undefined))
                a.nav-link(href='/projects')
                    | Projects
            li.nav-item(class=(pageName === "sprints" ? "active" : undefined))
                a.nav-link(href='/sprints')
                    | Sprints
            if !isUser
                li.nav-item(class=(pageName === "admin_panel" ? "active" : undefined))
                    a.nav-link(href='/admin_panel')
                        |  Administration panel
            //li.nav-item
                a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
        //form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
        ul.nav.navbar-nav.navbar-right(style="margin-right: 30px;")
            li.nav-item.dropdown
                a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style="font-size: 9pt")
                    i.fa.fa-user(aria-hidden='true')
                    | #{"   " + username + (isUser ? ' (User) ' : ' (Administrator) ')}

                .dropdown-menu(aria-labelledby='dropdown01')
                    a.dropdown-item(href='/logout') Logout
                    //a.dropdown-item(href='#') Another action
                    //a.dropdown-item(href='#') Something else here